<%- contentFor('main') %>
<div class="row mt-5 form-welcome">
    <div class="col-md-6 m-auto">
        <div class="card card-body text-center form-card">
            <div class="about-section">
                <h1>ACROIRIS</h1>
                <p>ACROIRIS is a project management web tool designed to help you and your team to be more productive
                    and effective!</p>
                <p>Our platform is specially designed in the most intuitive, innovative and easy to work with way. So
                    dive in!</p>
            </div>

            <h2 style="text-align:center">First Steps</h2>
            <div class="row">
                <div class="column">
                    <div class="card ">
                        <img src="images/register.png" alt="Jregister" style="width:100%">
                        <div class="container">
                            <h2>Register</h2>
                            <p class="title">Create your registration if you are a new user, or go login! Make sure you
                                use a strong password.</p>
                            <a class="dropdown-item" href="users/logout">
                                <button type="button" class="btn btn-primary mr-3" data-toggle="modal"
                                        data-target="#exampleModal">
                                    <i class="fas fa-plus"></i> Register a New Account
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
                <br>
                <div class="column">
                    <div class="card">
                        <img src="images/create.png" alt="create" style="width:100%">
                        <div class="container">
                            <h2>Make your New Project!</h2>
                            <p class="title">Go to the top right corner and add create a new project. Add a title, share
                                with friends and choose a cover picture - make it fun! Click Create. </p>
                            <p class="title">You are almost done..</p>
                            <a class="dropdown-item" href="index">
                                <button type="button" class="btn btn-primary mr-3" data-toggle="modal"
                                        data-target="#exampleModal">
                                    <i class="fas fa-plus"></i> Back Home
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
                <br>
                <div class="column">
                    <div class="card">
                        <img src="/images/work.png" alt="work" style="width:100%">
                        <div class="container">
                            <h2>Start Working!</h2>
                            <p>Great job! Now you are ready to start working on your new project! Move your tasks when
                                in progress or ready. Create, delete, work.. Success is in your hands!</p>
                        </div>
                    </div>
                </div>
                <br>
                <div class="column">
                    <div class="card">
                        <img src="/images/borderline.png" alt="work" style="width:100%">
                        <div class="container">
                            <h2>Good Luck!</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>