

<!--Main layout-->
<%- contentFor('main') %>
<div class="index-container">
    <h2>My boards:</h2>
    <!--Section: Board-->
    <section class="boards h-100" style="position: relative" data-sortable="sortable">
        <!-- Board -->
        <% boards.forEach(function(board) { %>
        <div class="card card-board shadow-1-strong m-3 p-2 pb-0">
            <!-- Board name -->
            <div class=" card-header d-flex justify-content-between flex-column border-0 ">
                <img src="https://assets.unenvironment.org/s3fs-public/styles/topics_content_promo/public/2021-05/alberta-2297204_1920.jpg?itok=aim5GFuY"
                    height="100" alt="" loading="lazy" />
                <p class="mb-0"><strong><%= board.title %> </strong></p>
                <a  class="btn btn-link " data-ripple-color="dark" href="board/<%= board.id %>">
                    View
                </a>
            </div>
            <!-- Board name -->
        </div>
        <!-- Board -->
        <% }) %>
    </section>
    <!--Section: Boards-->
    <div class="dropdown-divider"></div>
    <h2>Shared boards: </h2>
</div>
<!--Main layout-->