<%- contentFor('main') %>

  <div class="row mt-5 form-welcome">
    <div class="col-md-6 m-auto">
      <div class="card card-body text-center form-card">
        <h1 class= "form-text">ACROIRIS</h1>
        <h5 class= "form-text">Welcome to ACROIRIS a project management web tool to help your team to be more productive! </h5>
        
        <p class= "form-text">If you are new here create an account:</p>
        <a href="/users/register" class="btn btn-primary btn-block mb-2"
          >Register</a
        >
        <p class= "form-text">or</p>
        <a href="/users/login" class="btn btn-secondary btn-block">Login</a>
      </div>
    </div>
  </div>

